.title {
    color: #00665e;
    font-size:xx-large;
  }
.out{
    float: right;
    font-size: large;
    height: 50px;
    width: 150px;
}
header{
    margin-top: 30px;
    text-align: center;
}
main{
    width: 100%;
}
footer{
    margin-top: 30px;
}
/*button{*/
button{
    display:inline-block;
    height: 100px;
    width: 250px;
    margin-bottom: 10px;
    font-size: large;
}
.str{
    text-align: center;
}
span{
    color: rgb(255, 0, 0);
}
img.cps{
    width: 100%;
}
.back{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: large;
}
.back1{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: large;
    float: right;
}
.back i{
    font-size: 50px;
    text-align: center;
    margin-right: 4px;
	vertical-align: -4px;
}
.back1 i{
    font-size: 50px;
    text-align: center;
}
.btn{
    text-align: left;
    height: 60px;
    margin-bottom: 50px;
}
.status{
    text-align: center;
}
.list201 {
    margin: auto;
}
.list204 {
    margin: auto;
}
.list205 {
    margin: auto;
}
.list206 {
    margin: auto;
    margin-bottom: 50px;
}
.list1{
    width: 10%;
}
.list2{
    width: 5%;
}
.list3{
    width: 30%;
}
.d{
    margin-left: 10%;
}
.d1{
    margin-left: 10%;
    margin-bottom: 30px;
}
.radio{
    display:inline-block;
    height: 50px;
    width: 19%;
    margin-bottom: 10px;
    font-size: large;
}
.room{
    text-align: center;
}