.title {
    color: #00665e;
    font-size:xx-large;
  }
.out{
    float: right;
    font-size: large;
    height: 50px;
	width: 150px;
	margin-top: 30px;
}
footer{
	margin-top: 20%;
	height: 100px;
	margin-bottom: 5%;
}
/*button{*/
.function{
    display:inline-block;/*コレ*/
    height: 100px;
    width: 40%;
    margin-bottom: 10px;
    font-size: x-large;
}
div{
    text-align: center;
}
main{
    /*background-color: #20234de5;*/
    width: 100%;
}
header{
    margin-top: 30px;
    text-align: center;
}
.str{
    text-align: center;
    /*color : white;*/
}
span{
    color: rgb(255, 0, 0);
}
img.cps{
    width: 100%;
}
.hello{
    margin-left: 20px;
    /*color : white;*/
}
.detail{
    margin-left: 5%;
    margin-right: 5%;
}
.text1 {
    font-size: xx-large;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #ffffff;
    border-bottom: solid 5px #183a66;
    margin: 30px;
    border-radius: 2.5px;
}